
<%= content_tag_for(:li, conversation) do |conversation| %>
  <div class="inbox-preview-box">
    <h5><%= link_to conversation.original_message.sender.name.upcase, conversation%></h5>
    <h5><%= conversation.subject%></h5>
    <h6><%= conversation.original_message.body.truncate(40, separator: ' ') %></h6>
  </div> 
<% end %>



