<div id="topic-container">
	<% if @topics.any? %>
		<div class="topic">
			<% @topics.each do |x| %> 
					<%= link_to "#{x.name}", topic_path(x) %> <br />
			<% end %>
		</div>
	<% else %>
		<strong>No topics added yet!!!</strong>
	<% end %>
</div>



<%= link_to "View all languages", languages_path, class: "btn btn-warning" %>