<div id="languauge-container">
	<% if @languages.any? %>
	
			<% @languages.each do |x| %> 
			
					<h4><%= link_to "#{x.name}", language_path(x) %> </h4>
			<% end %>
	
	<% else %>
		<strong>No languages added yet!!!</strong>
	<% end %>
</div>

