<h3><%= @language.name %></h3><br />
<br /><br />



<%= link_to "View all topics", topics_path, class: "btn btn-info" %>

<%= link_to "View all languages", languages_path, class: "btn btn-warning" %>