<% if @user.errors.any? %>
  <div class="errors">
    <h3>
      <%= pluralize(@user.errors.count, 'error') %>
      prohibited this user from being saved:
    </h3>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>