<h1>UserProfiles#edit</h1>
<p>Find me in app/views/user_profiles/edit.html.erb</p>

  <%= image_tag @user_profile.picture.url(:medium), :class => "profile_pic" %>
  <table style="width:300px">
      
    <%= render 'edit_profile' %>


    </tr>
</table>

