<div class='col-md-3'>
	<%= render :partial => 'user_profile_left' %>
	<%= render :partial => 'contact_user' %>
</div>
</div>
<div class='col-md-9'>
	<div class='row'>
		<%= render :partial => 'contact_mid_user' %>
		<%= render :partial => 'contact_right_user' %>
	</div>
</div>






	  	
