<h2>Hi there new friend, welcome to Polyglt!</h2>

<p>
  You are now ready to begin your journey with Polyglt. Discover new friends and new languages through matched user profiles, or find them throught the list of given topics! Consistency is key, so remember to keep practicing! :) 


  
  -The POLYGLT Team
</p>