<h2>Hi there new friend, welcome to Polyglt!</h2>

<p>


Thank you for registering with POLYGLT. We are a service that aims to connect people around the world who are enthusiastic about learning a second language. The site was built as part of a two week project at Makers Academy, a code school in central London. However, we hope it becomes much more than an academic exercise in web development. We hope it becomes a service of genuine value for those who hope to improve their language abilities. 

We will continue to develop, refine and expand our user base – because it is our users who will make the service valuable. 

We welcome any suggestions or tips to make our service better. 

If you would like to know more about the developers behind the project you can visit our Github profiles:

https://github.com/fredmcgroarty
https://github.com/KanoTheDev
https://github.com/tiffaniechia
https://github.com/ajcumine
https://github.com/MarkMekhaiel
https://github.com/RuslanVikhor

Thanks for visiting our site.

Hopefully we’ll add the missing vowel at a later date.

-The POLYGLT team.


</p>