/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require bootstrap-datepicker3
 *= require_tree .
 *= require_self
 */
@import 'bootstrap';

body {
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 10px;
}


.yield {
  margin: 0;
  padding: 0;
}

.modalContents {
  padding-left: 10px;
  padding-right: 5px;
}

.button-text {
  font-size: 10px;
}


.flag-container {
    width: 100px;
    height: 100px;
}

/* resize images */
.flag-container img {
    width: 100%;
    height: auto;
}
.franflag.col-md-1 .engflag.col-md-1 {
	margin-right: 100px;
}
.engflag.col-md-1 {
	margin-left: 100px;
}

.spainflag.col-md-1 {
	margin-left: 100px;
}

.flag-text {
	margin-top: -35px;
	float: right;
	font-size: 12px;
}

.flag-counter {
margin-top: -110px;
font-size: 60px;
float: right;

}

.right.carousel-control {
  background-image: none; 
}

.left.carousel-control {
  background-image: none;
}

.glyphicon.glyphicon-chevron-left {
}

.glyphicon.glyphicon-chevron-right {
}

.topics-heading {
  width: 100px;
  float: left;
}


.image-direction-logo {
  width: 90%;
  opacity: 0.7;

}

.logo.modal-content.modalContents {
  background-image: image-url("polyglt_logo.png");
  background-repeat: no-repeat;
  background-position: center;
}

.navbar-form.glyphicon.glyphicon-search {
  height: 30px;
  border: 1px solid #ccc;
}

a.topic-headings {
    font-family: 'Oswald', sans-serif;

}
.topics.panel-body {

  background-repeat: no-repeat;
  background-position: center;
}

.welcome-topic.form-control {
  width: 30%;
  margin-top: 8px;
}

.glyphicon.glyphicon-chevron-left.move-up{
  margin-top: -130px;
}

.glyphicon.glyphicon-chevron-right.move-up{
  margin-top: -130px;
}

footer.navbar-default.navbar-fixed-bottom
 {
      color:white;
      padding:1em 0;
 }
footer.navbar-default.navbar-fixed-bottom p
 {
      margin:0;
 }