.table.bookings_table > thead > tr > th, .table.bookings_table > tbody > tr > th, .table.bookings_table > tfoot > tr > th {
  border-top: none;
}

#bookingpagetitle {
  font-family: 'Oswald', sans-serif;
  color: #a3acb2;
  margin-bottom: 20px;
}

.tab-title {
  font-family: 'Oswald', sans-serif;
  margin: 0;
}