.col-md-3.edit-profile {
  background-color: #F8F8F8;
  height: 500px;
  display:inline-block
}

.tab-container {
  display: none;
}

.tab-container.active {
  display: block;
}

.btn.btn-default.btn-lg.button {
  font-size: 16px;
  width: 100%;
  padding: 5%;
  margin: 5%;
  transition: all 0.2s ease-in;
  text-decoration:none;
  margin-right: 2px;
}

.btn.btn-default.btn-lg.button:hover {
  -webkit-stroke-width: 5.3px;
  background-color: #a1f4ea;
  color: white;
}

.buttons-edit-page {
  margin-right: 10%;
  margin-top: 7%;
}

.tab-container-page {
  margin-left: 15%;
}



