/*.header_logo {
 padding: 5px;
}*/

.header_logo img{
  width: 85px;
  height: 60px;
}



.polyglot_name {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  color: #F7F7F7;
  display: inline;
  text-decoration: none;
}

/*.polyglot_name:hover{
border-bottom: 7px solid #a1f4ea;
}
*/
.polyglot_name:hover{
  text-decoration: none;
  color: #5F6B6B;
}


.header{
  height: 70px;
  padding: 4px 30px; 
  box-shadow: 0 5px 5px #888888;
/*  background-color: #69a099;*/
   
}



.navbar-nav li a:hover{
border-bottom: 7px solid #a1f4ea;
}


