.header_logo img{

  width: 85px;
  height: 60px;
}

.polyglot_name {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  color: #5F6B6B;
  display: inline;
  text-decoration: none;
  vertical-align: middle;
}

.polyglot_name:hover{
  text-decoration: none;
  color: #5F6B6B;
}

.header{
  height: 70px;
  padding: 4px 30px; 
  box-shadow: 0 2px 5px #888888;  
}

.navbar-nav li a:hover{
border-bottom: 7px solid #a1f4ea;
}

.navbar-nav li {
  margin-top: 5px;
}