.welcome-container {
	background-color: green;
}


.not-logged-in {
	background-color: white;
}

.col-md-10 {
	height: 1000px;
}


.main-splash-container{
	width:98%;	

}

.row.user-appointments {
	height: 320px;
	/*border-bottom: 1px dashed gray;*/
  border-left: 7px solid #a1f4ea ;
  margin-top: 20px;
  margin-left: 5px;
  padding-left: 10px;
  
}

.welcome-table-wrapper{
  height: 260px;
  overflow: scroll;
  margin-top: 5px;
}

.row.matched-users {
	height: 350px;
	/*border-bottom: 1px dashed gray;*/
  border-left: 7px solid #a1f4ea ;
  margin-top: 30px;
  margin-left: 5px;
  padding-left: 10px;
}

.row.matched-users h2{
  margin-bottom: 35px;
}

.row.topics {
  height: 400px;
 /* border-left: 7px solid #a1f4ea ;*/
  margin-top: 30px;
  margin-left: 5px;
  padding-left: 10px;
}

.matched-user-profiles {
  background-color: white;
  border-radius: 9px;
  height:240px;
  text-align: center;
}

.matched-user-profile-pic {
  width: 100%;
  height: 140px;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #999999;
}

.matched-user-profiles-description {
	border-style:solid;
	border-width:1px;
	border-color:#EAE8E8;
	background-color: white;
	border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
	padding: 7px 14px;
}	
.matched-user-profiles-description a {
	color: #A3ACB2;
	font-size: 14px;
}

.matched-user-profiles-description a:hover {
  text-decoration: none;
  font-weight: bold;
  color: #5F6B6B;
}

.matched-user-profiles-description h5 {
	font-size: 10px;
	color: #5F6B6B;
}



.home-page-avatar-info {
	text-align: center;
	background-color: #F8F8F8;
	border-radius: 7px;
	height: 1800px;
}


.profile-pic-holder{
  margin-top: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #999999;
  border-radius: 7px 7px 0px 0px;
  background-size: cover;
  border: 1px solid #F8F8F8;
  height: 200px;
}



.profile-info-holder{
  height: 200px;
}

.quick-info{
  text-align: left;
  padding-left: 20px;
  font-size: 12px;
}

.user-name {

  margin-top: 0px;
  text-align: left;
  padding-left: 20px;
  font-family: 'Oswald', sans-serif;

}

.home-page-avatar-info h4 {
	margin-top: 20px;
}

.mini-profile-avatar {
	margin-top: 30px;
	width:80%;
	border-radius: 7px;
	border: 2px solid white;
}

.col-md-10 h2 {
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
	margin: 15px 0px;
	padding-left: 12px;
	color:#5F6B6B;
/*	letter-spacing: 1px;*/
}

.main-content {
	height: 100px;
}

.calendar-container {
	float: left;
}

.calendar-wrap{
margin-top: 20px;
}

.thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  border-radius: 0;
  border: none;
  background-color: none;
}

.carousel-control {
/*  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;*/
  width: 15%;
  opacity: .5;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: none;
  height: 10%;
  margin-top: 470px;
}
.carousel-control.left {
	background-image: none;
}
.carousel-control.right {
  left: auto;
  right: 0;
  background-image: none;
}

.carousel-control {
  padding-top:10.25%;
  width:5%;
}

.item {
	margin-left: 25%;
}


.row .thumbnail {
  border: none;
}

.row-topics-choice{
  margin-top: 30px;
}


.user-name a {
  color: black;
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
}
