// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.welcome-container {
	background-color: #4863A0;
}

.not-logged-in {
	margin-left: 60%;
	padding-top: 3%;
	padding-bottom: 3%;
	background-color: white;
}

.sign-in {
	margin-bottom: 10%;
}

.col-md-2 {
	background-color: blue;
	height: 1000px
}

.col-md-10 {
	background-color: red;
	height: 1000px;
}

.row.matched-users {
	background-color: green;
	height: 200px;
}
.row.user-appointments {
	background-color: white;
	height: 200px;
}
.row.topics {
	background-color: yellow;
	height: 150px;
}