// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.message_content {
	height:300px;
	width:100%;
	color: #5F6B6B;
	font:16px/26px Georgia, Garamond, Serif;
	overflow:auto;
}

#message_body {
	margin-top:10px;
	width: 100%;
	height: 100px;
	border: 1px solid #EAE8E8;
}

.col-md-2.new-messages {
	height: 400px;
  color: #3D4444;
  margin-top:15px;
}

li {
    list-style-type: none;
}

ul {
    list-style-type: none;
}

.glyphicon.glyphicon-remove.message {
	float: right;
}

.button-send-message{
	background-color: #a1f4ea;
	border:none;
	border-radius:7px;
	height:35px;
	color:white;
}

.button-clear-message{
	background-color: #FF4F4Fs;
	border:none;
	border-radius:7px;
	height:35px;
	color:white;
}