* {
  font-family: 'Oswald', sans-serif;
}

#header-spacing {
  height: 69px;
  width: 100%;
}

.bcg {
  background-size: 120%;
  background-repeat: no-repeat;
  height: 900px;
}

#welcome {
  color: white;
  margin-top: 70px;

  input {
    border: none;
    border-radius: 8px;
    color: black;
    font-weight: bold;
  }
}

#welcome-left {
  text-align: center;
  
  img {
  margin-bottom: 1em;
  }

  h1 {
  padding-bottom: 10px;
  font-weight: bold;
  }
}

.title {
  text-align: right;
  padding: 3px;
  font-size: 18px;
}

.form-group input {
  background-color: rgba(204,204,204,0.8);
  width: 100%;
  padding: 3px;
}

.button input {
  background-color: #a1f4ea;
  padding: 3px;
  font-size: 18px;
  width: 100%;
}

.remember {
  font-size: 18px;
  text-align: right;
  margin-top: 10px;
}

#user_remember_me {
  margin-left: 10px;
  width: 15px;
  height: 15px;
}

#splash1 .bcg {
  background-image: url("london.jpg");
}

.splash-text {
  background-color: white;
  width: 100%;
  height: 500px;
  text-align: center;
}

#splash3 .bcg {
  background-image: url("paris.jpg");
}

#splash5 .bcg {
  background-image: url("barcelona.jpg");
}

#splash7 .bcg {
  background-image: url("singapore.jpg");
}

