/**
 *  This element is created inside your target element
 *  It is used so that your own element will not need to be altered
 **/
.time_circles {
    
    position: relative;
    width: 100%;
    height: 100%;
    color: #3A3D3D;
}

/**
 *  This is all the elements used to house all text used
 * in time circles
 **/
.time_circles > div {
    position: absolute;
    text-align: center;
}

/**
 *  Titles (Days, Hours, etc)
 **/
.time_circles > div > h4 {
    margin: 0px;
    padding: 0px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}

/**
 *  Time numbers, ie: 12
 **/
.time_circles > div > span {
    display: block;
    width: 100%;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 300%;
    margin-top: 0.4em;
    font-weight: bold;
}

.timer {
    width:150px;
    height: 150px;
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

