.topic-name{
  margin-left: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 2px;
  font-size: 38px;
}

.topics-completed-users {
	text-align: center;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 2px;
  font-size: 22px;
}

.topic-page-index-header {
	  font-family: 'Oswald', sans-serif;
	  font-size: 30px;
	  color: #a3acb2;
	  margin-bottom: 20px;
	  text-align: center;
}

.search-topics.input-group {
	width: 30%;
	margin-left: auto;
	margin-right: auto;
}

.search-topics.form-control {
	margin-top: 3px;
}

.view-all-topics-btn{
  background-color: #a1f4ea;
  border:none;
  border-radius:7px;
  height:35px;
  color:white;
  padding:10px;
 text-align: center;
}