// Place all the styles related to the UserProfiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.col-md-2 {
	background-color: blue;
	height: 1000px
}

.row {
}

.right {
	float: right;
	margin-right: 10px;
}

.left {
	margin-left: 10px;
}

.wide {
	width: 154px;
}

.calendar {
	float: right;
}