.review {
  h1 {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    color: #A3ACB2;
  }

  h3 {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    margin-top: 50px;
    color: #A3ACB2;
  }

  h4 {

    input {
      background-color: #a1f4ea;
      border: none;
      border-radius: 10px;
      padding: 10px;
      width: 635px;
      font-weight: bold;
      color: white;
      margin-left: 30%;
    }
  }
}

.reviewtable {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 50px;

  tr {
    padding-bottom: 5px;
  }

  th {
    width: 30%;
    text-align: right;
    padding-right: 15px;
  }
  td {
    width: 70%;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  input {
    width: 80%;
    height: 4em;
  }
}