.username-profile {
	font-size: 39px;
	  font-family: 'Oswald', sans-serif;
	  letter-spacing: 2px;
	  margin-left: 5%;
}

.info.col-md-4 {
	background-color: #a1f4ea;
}

.language-level-topics.col-md-5 {
		border-style:solid;
	border-width:2px; 
	margin-bottom: 5%;	
}

.completed-topics-dropdown {
	width: 100%;
	border-top: solid;
	font-family: 'Oswald', sans-serif;
}

.language-level-topics {
	font-size: 25px;
	  font-family: 'Oswald', sans-serif;
	  letter-spacing: 2px;
	  margin-left: 5%;
}

.essential-prof-info {
	font-size: 15px;
	  font-family: 'Oswald', sans-serif;
	  letter-spacing: 2px;
	  text-align: center;
}

img.profile-pic {
	display: block;
  margin-left: auto;
  margin-right: auto;
}

.email-profile {
	font-size: 15px;
	font-family: 'Oswald', sans-serif;
	letter-spacing: 2px;
	text-align: center;
}

.main-label-buttons {
	width: 80%;
	margin: 0 auto;
}

.completed-topics {
	font-size: 28px;
	font-family: 'Oswald', sans-serif;
	letter-spacing: 2px;
}

.completed-topics-and-reviews {
	font-size: 28px;
	font-family: 'Oswald', sans-serif;
	letter-spacing: 2px;
	text-align: center;
}

.plus-completed-topics-and-reviews {
	font-size: 40px;
	font-family: 'Oswald', sans-serif;
	letter-spacing: 2px;
	text-align: center;
}

#positive-reviews {
	max-height: 150px;
	overflow: scroll;
}

#negative-reviews {
	max-height: 150px;
	overflow: scroll;
}

.positive-user-reviews {
	background-color: #80FF00;
}


.glyphicon.glyphicon-pencil.btn.update-button-profile-edit-page {
	width: 100%;
}

.glyphicon.glyphicon-pushpin.btn.update-button-profile-edit-page {
		width: 100%;

}

.wants-to-teach-learn {
	font-size: 16px;
	font-family: 'Oswald', sans-serif;
  letter-spacing: 2px;
  text-align: center;
}

.box.wants-to-teach-learn {
	border-style:solid;
	border-width:2px; 
	margin-bottom: 5%;
}

.info.row {
	border-style:solid;
	margin-bottom: 5%;
	width: 100%
}

.negative.list-group-item {
	font-size: 12px;
}

.user-lang.row {
	font-size: 20px;
	font-family: 'Oswald', sans-serif;
	letter-spacing: 2px;
	text-align: center;
}

/*new start here*/

.topics-wrap{
	margin-top: 30px;
}

.profile-pic-main{
	height: 290px;
	background-color: gray;
	border-radius: 7px ;
}

.user-information{
	height: 100px;	
	padding-left: 10px;
}

.user-information h4{
	font-size: 14px;
}

.reviews-wrap{
	margin-top: 30px;
}

.bookings-wrap{
	margin-top: 30px;
}

.messages-wrap{
margin-top: 30px;
}
.contact-user-div{
	height: 70px;	
	text-align: left;
}