  <% if alert %>
    <div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content modalContents">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h5><%= alert %></h5>
        </div>
      </div>
    </div>
  <% end %>