<% if notice %>
    <div class="modal fade" id="noticeModal" tabindex="-1" role="dialog" aria-labelledby="noticeModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content modalContents">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h5><%= notice %></h5>
        </div>
      </div>
    </div>
  <% end %>